* {
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}



/*-----MAIN PAGE-----*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.homepage-left {
    display: flex;
    justify-content: right;
    align-items: center;
}

.homepage-left-inside {
    text-align: center;
}


.homepage-name {
    display: block;
    text-align: left;
    color: rgb(32, 51, 27);
    font-size: 2rem;
    font-family: poppins, sans-serif;
}



.homepage-name h2 {
    color: rgb(32, 51, 27);
    font-size: 2rem;
    line-height: 20px;
    font-weight: 300;
}

.homepage-name h2 span {
    color: rgb(0, 204, 102);
    font-weight: 700;
}

.homepage-name-navigation {
    padding-top: 2vh;
    padding-bottom: 0.5vh;
}

.homepage-right {
    
    padding-top: 10vh;
    object-position: center;
}


.homepage-picture {
    display: flex;
    justify-content: left;
}

.homepage-picture img {
    object-fit: cover;
    max-width: 100%;
    height: 90vh;
}



/*-----NAVIGATION SETTINGS-----*/
.navigation-settings {
    color: rgb(32, 51, 27);
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: poppins, sans-serif;
}

.navigation-settings .active {
    color: rgb(0, 204, 102);
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 2px;
}
.navigation-settings a {
    color: rgb(32, 51, 27);
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.navigation-settings a:hover {
    transition: color 0.6s ease-out;
    color: rgb(0, 204, 102);
}

.navigation-settings a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(0, 204, 102);
    transition: width 0.6s ease-out;
}

.navigation-settings a:hover::before {
    width: 100%;
    color:rgb(0, 204, 102);

}




/*-----SOCIALS-----*/
.homepage-socials {
    display: flex;
    justify-content: left;
    padding-top: 1vh;
}

.homepage-socials button {
    background-color: rgb(32, 51, 27);
    border-style: none;
    border-radius: 50%;
    padding: 0.7rem;
    margin: 2px;
    display: inline-block;
}

.homepage-socials button:hover {
    transition: background-color 0.5s;
    background-color: rgb(0, 204, 102);
}

.homepage-socials button:not(:hover) {
    transition: background-color 0.5s;
}


.homepage-socials .social .white-icon {
    max-height: 16px;
    max-width: 16px;
    filter: invert(100%) brightness(200%);
    background-color: none;
}


/* Responsiveness */

@media screen and (max-width: 1440px)
{
    .home-page {
        max-height: 100vh;
    }

    .homepage-left {
        padding-left: 5vw;
    }

    .homepage-name {
        text-align: center;
        font-size: 1.5rem;
    }

    .homepage-name h2{
        line-height: 35px;
        text-align: center;
        font-size: 1.6rem;
    }

    .homepage-name-navigation {
        display: flex;
        justify-content: center;
        padding-top: 1vh;
        padding-bottom: 0;
    }

    .navigation-settings {
        font-size: 1.1rem;
    }

    .homepage-socials {
        display: flex;
        justify-content: center;
    }

    .homepage-socials button {
        padding: 0.5rem;
    }

    .homepage-socials .social .white-icon {
        max-height: 10px;
        max-width: 10px;
    }

    .homepage-right {
        position: relative;
    }
    .homepage-picture {
        position: absolute;
        bottom: 0;
    }
    .homepage-picture img {
        height: 85vh;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .home-page {
        grid-template-columns: 1fr;
        max-height: 100vh;
    }

    .homepage-left {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .homepage-picture img {
        display: none;
    }
    
    .homepage-right {
        display: none;
    }
}
/*tablets and smaller laptops*/
@media screen and (min-width:768px) and (max-width:1023px){
    .home-page {
        grid-template-columns: 1fr;
        max-height: 100vh;
    }

    .homepage-left {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .homepage-picture img {
        display: none;
    }
    
    .homepage-right {
        display: none;
    }
}
/*mobile phones*/
@media screen and (max-width: 767px){
    .home-page {
        grid-template-columns: 1fr;
        max-height: 100vh;
    }
    
    .homepage-name {
        font-size: 1rem;
    }

    .homepage-name h2 {
        font-size: 1.3rem;
    }

    .navigation-settings {
        font-size: 0.9rem;
    }

    .homepage-left {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .homepage-picture img {
        display: none;
    }
    
    .homepage-right {
        display: none;
    }

    .hamburger-container .hamburger{
        z-index: 3;
        width: 40px;
        height: 40px;
    }
}











